.header-wrap {
  background: #000;
}
.particle {
  height: 100vh;
}
.nav-bar {
  height: 5rem;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 5%;
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .logo {
      float: left;
    }
    .nav-links {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 10px;
        list-style: none;
        li {
          padding-left: 20px;
          
        }
      }
    }
  }
}
