.header-wrap {
  background: #000;
  .particle {
    height: 100vh;
  }
  .nav-bar {
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 0;
    .nav-items {
      margin: 30px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 5%;
        margin-left: 30px;
        font-size: 40px;
        font-weight: 600;
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
      }
      ul {
        li {
          list-style: none;
          white-space: nowrap;
          a {
            text-decoration: none;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            animation: fadein 3s;
            -moz-animation: fadein 3s; /* Firefox */
            -webkit-animation: fadein 3s; /* Safari and Chrome */
            -o-animation: fadein 3s; /* Opera */
          }
        }
      }
    }
  }
  .title-text {
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 40%;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 70px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
        span.typed-text {
          color: #D2B94B;
        }
        span.cursor {
          display: inline-block;
          margin-left: 3px;
          width: 4px;
          background-color: #fff;
          animation: cursorBlink 1s infinite;
        }
        span.cursor.typing {
          animation: none;
        }
      }
      @keyframes cursorBlink {
        49% { background-color: #fff; }
        50% { background-color: transparent; }
        99% { background-color: transparent; }
      }
    }
    .date {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 30px;
        color: white;
        font-family:'Courier New', Courier, monospace;
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
      }
    }
  }
}
.section-container-starmap {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  .starmap-items {
    padding: 40px 0;
    .title-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
      }
      p {
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        padding-top: 10px;
        font-weight: 600;
      }
    }
    .starmap-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      img {
        width: 80%;
      }
    }
    .location-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      p {
        font-family:'Courier New', Courier, monospace;
        font-weight: 600;
      }
    }
    .date-time-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      p {
        font-family:'Courier New', Courier, monospace;
        font-weight: 600;
      }
    }
  }
}
.section-container-starchart {
  height: 100%;
  width: 100%;
  background-color: black;
  .starchart-items {
    padding: 40px 0;
    .starchart-title {
      display: flex;
      justify-content: center;
      h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
      }
    }
    .starchart-signs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      .signs {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        img {
          width: 30px;
          padding-right: 10px;
        }
        p {
          padding-top: 12px;
          color: white;
        }
      }
    }
    .starchart-desc-container {
      margin: 25px 0;
      .desc-outer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .desc-inner {
          height: 100%;
          width: 80%;
          padding: 20px 0;
          img {
            padding: 8px 0;
            width: 35px;
          }
          p {
            color: white;
          }
        }
      }
      
    }
  }
}
.section-container-wishes {
  height: 100%;
  width: 100%;
  background-color: white;
  .wishes-items {
    padding: 40px 0;
    .wishes-title {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
      }
    }
  }
  .wishes-container {
    padding-top: 20px;
    .wishes-outer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .wishes-inner {
        display: flex;
        height: 100%;
        width: 80%;
        padding: 20px 0;
        flex-direction: row;
        .avatar-img {
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }
        }
        .wish-container {
          padding: 0 20px;
          width: 100%;
          .main-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 80%;
              border-radius: 10px;
              box-shadow: 0px 5px 8px #88888838
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 374px){
  .nav-items {
    .logo {
      margin-left: 0 !important;
    }
  }
  .title-text {
    top: 50% !important;
    .title {
      h1 {
        font-size: 20px !important;
      }
    }
  }
  .date h3 {
    font-size: 14px !important;
  }
  .section-container-starmap {
    .title-desc {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
      }
    }
    .location-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
    .date-time-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
  }
  .section-container-starchart {
    .starchart-items {
      .starchart-title {
        h1 {
          font-size: 18px;
        }
      }
      .starchart-signs {
        .signs {
          padding: 0 15px;
        }
      }
    }
  }
}
@media (min-width: 375px) and (max-width: 389px){
  .nav-items {
    .logo {
      margin-left: 0 !important;
    }
  }
  .title-text {
    top: 50% !important;
    .title {
      h1 {
        font-size: 25px !important;
      }
    }
  }
  .date h3 {
    font-size: 14px !important;
  }
  .section-container-starmap {
    .title-desc {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
      }
    }
    .location-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
    .date-time-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
@media (min-width: 390px) and (max-width: 413px) and (min-height: 844px){
  .nav-items {
    .logo {
      margin-left: 0 !important;
    }
  }
  .title-text {
    top: 50% !important;
    .title {
      h1 {
        font-size: 28px !important;
      }
    }
  }
  .date h3 {
    font-size: 14px !important;
  }
  .section-container-starmap {
    .title-desc {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
      }
    }
    .location-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
    .date-time-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
@media (min-width: 414px) and (max-width: 800px){
  .nav-items {
    .logo {
      margin-left: 0 !important;
    }
  }
  .title-text {
    top: 50% !important;
    .title {
      h1 {
        font-size: 28px !important;
      }
    }
  }
  .date h3 {
    font-size: 14px !important;
  }
  .section-container-starmap {
    .title-desc {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 10px;
      }
    }
    .location-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
    .date-time-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1080px){
  .nav-items ul {
    margin-left: 10%;
    li {
      padding-left: 15%;
    }
  }
}
@media (min-width: 1081px) and (max-width: 1199px){
  .nav-items ul {
    margin-left: 25%;
    li {
      padding-left: 10%;
    }
  }
  .starmap-img {
    img {
      width: 50% !important;
    }
  }
  .wishes-container {
    .wishes-outer {
      .wishes-inner {
        .wish-container {
          .main-img {
            img {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1300px){
  .nav-items ul {
    margin-left: 25%;
    li {
      padding-left: 5rem;
    }
  }
  .starmap-img {
    img {
      width: 50% !important;
    }
  }
  .wishes-container {
    .wishes-outer {
      .wishes-inner {
        .wish-container {
          .main-img {
            img {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1301px) and (max-width: 1427px){
  .nav-items ul {
    margin-left: 28%;
    li {
      padding-left: 5rem;
    }
  }
  .starmap-img {
    img {
      width: 50% !important;
    }
  }
  .wishes-container {
    .wishes-outer {
      .wishes-inner {
        .wish-container {
          .main-img {
            img {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1428px) and (max-width: 1500px){
  .nav-items ul {
    margin-left: 35%;
    li {
      padding-left: 5rem;
    }
  }
  .starmap-img {
    img {
      width: 50% !important;
    }
  }
  .wishes-container {
    .wishes-outer {
      .wishes-inner {
        .wish-container {
          .main-img {
            img {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1501px){
  .nav-items ul {
    margin-left: 45%;
    li {
      padding-left: 5rem;
    }
  }
  .starmap-img {
    img {
      width: 50% !important;
    }
  }
  .wishes-container {
    .wish-container {
      .main-img {
        img {
          width: 50% !important;
        }
      }
    }
  }
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


